<div class="candid-iframe-div">

{% capture candid_iframe_val %}{% increment candid_iframe_counter %}{% endcapture %}
{% capture candid_iframe_id %}{{ "candid-iframe-" | append: candid_iframe_val }}{% endcapture %}  

<iframe id="{{ candid_iframe_id }}" src="{{ include.src }}" style="max-width:2000px;max-height:2000px" 
{% if include.width and include.width != "fit-content" %}
    width="{{ include.width }}"
{% endif %}
{% if include.height and include.height != "fit-content" %}
    height="{{ include.height }}"
{% endif %}
></iframe>

{% if include.width == "fit-content" or include.height == "fit-content" %}
<script>
    // Can't use fit-content or similar widhth/height styles on iframe as content size not known until loaded
    var iframe = document.getElementById("{{ candid_iframe_id }}");

    var updateSize = function() {
        // Need to allow for iframe border and too lazy to retrieve and parse actual border size property
        {% if include.height == "fit-content" %}
        iframe.height = iframe.contentWindow.document.body.scrollHeight + 4;
        {% endif %}
        {% if include.width == "fit-content" %}
        iframe.width = iframe.contentWindow.document.body.scrollWidth + 4;
        {% endif %}
    }
    iframe.onload = function() { 
        updateSize();

        // Horrible hack for browsers, like Safari, that can fire onload before the page is fully loaded
        // If iframe was already correctly sized, will have no effect.
        setTimeout(updateSize, 500);

        // onsize event only works for top level window
        const resizeObserver = new ResizeObserver((entries) => {
            updateSize();
        });
        resizeObserver.observe(iframe);
    };
</script>
{% endif %}
    
</div>
