{% assign paginator = include.paginator %}

{% if paginator.total_pages > 1 %}
{% if include.footer %}
  <div class="candid-page-footer">
{% else %}
  <div class="candid-header-nav">
{% endif %}

{%if paginator.page < 3 %}
{% assign bonuspage = paginator.page | plus: 2 %}
{% endif %}

{%if paginator.page == 1 %}
{% assign prevpage = paginator.page | plus: 3 %}
{% else %}
{% assign prevpage = paginator.page | minus: 1 %}
{% endif %}

{%if paginator.page == paginator.total_pages %}
{% assign nextpage = paginator.total_pages | minus: 3 %}
{% else %}
{% assign nextpage = paginator.page | plus: 1 %}
{% endif %}

{% assign two_from_end = paginator.total_pages | minus: 2 %}
{%if paginator.page > two_from_end %}
{% assign bonuspage = paginator.page | minus: 2 %}
{% endif %}


  {% if paginator.previous_page %}
    <a class="candid-header-link" href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% else %}
    <span class="candid-header-item">&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="candid-header-item"><b>{{ page }}</b></span>
    {% elsif page == 1 %}
      <a class="candid-header-link" href="{{ '/blog' | relative_url }}">{{ page }}</a>
    {% else %}
      {% if paginator.total_pages < 10 or page == paginator.total_pages or page == prevpage or page == nextpage or page == bonuspage %}
        <a class="candid-header-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
      {% else %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="candid-header-link" href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% else %}
    <span class="candid-header-item">Next &raquo;</span>
  {% endif %}

  </div>
{% endif %}
